{% extends 'partials/_base.twig' %}
{% block content %}
    <div class="section">
	<h2 class="section__header">
	    Upcoming Events
	</h2>
	<div class="section__body">
            {% setcontent upcoming = 'events' where { date: '>today' } limit 5 %}
            {% for event in upcoming %}
                <div class="section__entry">
                    <div class="section__entry-title">
                        <a class="section__entry-link" href="{{ event.link }}">
                            {{ event.name }}
                        </a>
                    </div>
                    <div class="section__entry-details">
                        <div class="section__entry-detail">
                            {{ event.date|localedatetime("%B %e") }}
                        </div>
                    </div>
                </div>
                {% else %}
                <p>No upcoming events.</p>
            {% endfor %}
	</div>
    </div>
    <div class="section">
	<h2 class="section__header">
	    Recent News
	</h2>
        {% setcontent news = 'news/latest/5' %}
        {% for news_item in news %}
            <div class="section__entry">
                <div class="section__entry-title">
                    <a class="section__entry-link" href="{{ news_item.link }}">
                        {{ news_item.title }}
                    </a>
                </div>
                <div class="section__entry-details">
                    <div class="section__entry-detail">
                        {{ news_item.publishdate|localedatetime("%B %e") }}
                    </div>
                </div>
            </div>
{% else %}
            <p>No recent news.</p>
        {% endfor %}
    </div>
{% endblock %}
