{% extends 'partials/_base.twig' %}
{% block content %}

    {% for record in records %}
        <article>
            <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

            {% if record.date %}
                <h5>
                    {{ record.date|localedatetime("%B %e, %Y") }}
                </h5>
            {% elseif record.promotion_start_date %}
                <h5>
                    {{ record.promotion_start_date|localedatetime("%B %e, %Y") }} &mdash; {{ record.promotion_end_date|localedatetime("%B %e, %Y") }}
                </h5>
            {% endif %}

            {# display something introduction-like.. #}
            {% if record.introduction %}
                {{ record.introduction }}
            {% elseif record.short_description %}
                {{ record.short_description }}
            {% else %}
                <p>{{ record.excerpt(300, false, search|default('')) }}</p>
            {% endif %}
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}

        {% else %}
            <h2>No content found.</h2>
            <p>
                Unfortunately, no content could be found.
                Try another page, or go to the <a href={{ path('homepage') }}>homepage</a>.
            </p>
    {% endfor %}

{% endblock %}
